<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @Scripts.Render("~/bundles/jquery", "~/JS/TelaDanielFisioterapeuta", "~/JS/Inicio")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css", "~/CSS/TelaDanielFisioterapeuta", "~/CSS/TelaProfissional", "~/CSS/Inicio")
    <title>Fisioterapia em casa</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Estava pondo um relógio que mostrasse o tempo da sessão do usuário-->
</head>

<body>

    <nav id="btns">
        <div class="grid">
            <div id="perfil" onclick="Inicio();">
                @if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.imagemUsuario == null)
                {
                    <img src="@FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.imagemNull" alt="perfil" />
                }
                else
                {
                    <img src="@FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.imagemUsuario" alt="perfil" />
                }

            </div>
            <div id="videosBtn" onCLick="videoSourcePage()" title="Ir a lista de videos">Videos</div>
            <div id="artigosBtn" onClick="artigosSource()" title="Ir a lista de artigos">Artigos</div>
            @if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.tipoUsuario == "fis")
            {

                if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.Adm == true)
                {
                    <div id="profissionaisBtn">
                        Buscar
                        <ul id="submenu">
                            <li onClick="profissionalSource();" title="Ir a lista de fisioterapeutas">Fisioterapeutas</li>
                            <li title="Ir a lista de pacientes">Pacientes</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div id="profissionaisBtn">
                        Buscar
                        <ul id="submenu">
                            <li title="Ir a lista de pacientes">Pacientes</li>
                        </ul>
                    </div>
                }
            }




            @if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.Adm == true)
            {
                <div id="admBtn">
                    Cadastrar  <ul id="submenu2">
                        <li id="fis" onclick="changeTitle(1);" data-target="#myModal" data-toggle="modal" title="Cadastrar um fisioterapeuta">Fisioterapeutas</li>

                        <li id="pac" onclick="changeTitle(2);" data-target="#myModal" data-toggle="modal" title="Cadastrar um paciente">Pacientes</li>
                    </ul>
                </div>
            }
            <div id="configBtn" onClick="config()" title="Ir ás configurações">Configurações</div>
            <div style="background-color:red;width:110px;" id="sairBtn" onClick="sair()">Sair</div>
        </div>

    </nav>
    <h1 id="hora"></h1>
    @RenderBody()
    <div id="partial">
    </div>


    <!---->
    @if (FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.tipoUsuario == "fis" && FECprojeto.Models.Classes.Auxiliares.Sessão.SessaoSistema.Adm == true)
    {
        <div id="modal"></div>
    }
    <!---->
    <div style="float:right;margin-top:37%;margin-right:1%;" title="Header" data-toggle="popover" data-placement="left" data-content="Content" id="chat">
        <img style="border:black 1px solid;box-shadow:white 1px 1px 20px 1px;float:right" src="~/imagens/homem.png" width="40" height="100" />
    </div>
   

</body>
</html>

